.draggable-table {
  line-height: 23px;
}

.drag-td {
  text-align: center;
  cursor: move;
  width: 40px;
}

.st-expand-th {
  text-align: center;
  width: 40px;
}

.st-expand-td {
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.st-expand-arrow-open, .st-expand-arrow-close {
  transition: .2s ease-in-out;
}

.st-expand-arrow-open {
  transform: rotate(90deg);
}

.drag-content-cell {
  padding-left: 10px;
  padding-right: 10px;
}
